[Unit]
Description=Pug Site
After=multi-user.target

[Service]
Type=simple
ExecStart=/pugsite/pugsite-start.sh
User=siteadmin

[Install]
WantedBy=multi-user.target