[Unit]
Description=Pug Site
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/pugsite.pid
ExecStart=/pugsite/pugsite-start.sh

[Install]
WantedBy=multi-user.target